version: '3.7'

services:
  app.dev:
    image: $CONTAINER_IMAGE
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
    volumes:
    command: python3 manage.py runserver 0.0.0.0:8000
    env_file:
      - ./.env
